html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 8px;
  width: 4px;
  background: rgb(31, 31, 31);
}

::-webkit-scrollbar-thumb:horizontal {
  background: #000;
  border-radius: 10px;
}
