.banner-container {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-x: scroll;
}
.movies-container {
  width: 100%;
  background-color: #000000de;
}
